:host {
  --content-padding: 10px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  height: 60px;
  padding: var(--content-padding);
  margin-bottom: 0.5rem;
}
.content {
  padding: var(--content-padding);
}
